:global {
  //Add this for full viewport, and a fallback
  html, body {
    margin:0px;
    height: 100%;
    & > div#content {
      height: 100%;
      height: 100vh;
      background-color: rgba(204, 204, 204, 0.2);
    }
  }
}